<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.fgliu.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/my_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/my_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.FloatWindowService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.RenRenMenuActivity"
            android:label="RenRenMenuActivity" />
        <activity
            android:name=".ui.SliderActivity"
            android:label="@string/title_activity_slider" />
        <activity
            android:name=".ui.BidirSlidingActivity"
            android:label="@string/title_activity_bidir_sliding" />
        <activity
            android:name=".ui.SlidingSwitcherActivity"
            android:label="@string/title_activity_sliding_switcher" />
        <activity
            android:name=".ui.FragmentActivity"
            android:label="@string/title_activity_fragment" />
        <activity android:name=".ui.SoundActivity" />
        <activity android:name=".ui.DisplayActivity" />
        <activity
            android:name=".ui.FragmentTabActivity"
            android:label="@string/title_activity_fragment_tab" />
        <activity android:name=".ui.EntitySendActivity" />
        <activity android:name=".ui.ContactActivity" />
        <activity android:name=".ui.RefreshActivity" />
        <activity android:name=".ui.PhotoWallActivity" />
        <activity android:name=".ui.MsgActivity" />
        <activity android:name=".ui.ScannerActivity" />
        <activity android:name=".ui.SubCaptureActivity" />
        <activity android:name=".ui.PictureActivity" />
        <activity android:name=".ui.ThreeDActivity" />
        <activity android:name=".ui.WallScrollActivity" />
        <activity android:name=".ui.ImageDetailsActivity" />
        <activity android:name=".ui.NewWallScrollActivity" />
        <activity android:name=".ui.NewImageDetailsActivity" />
        <activity
            android:name=".ui.DanmuActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.CommonActivity"></activity>
    </application>

</manifest>