<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.fgliu.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.FloatWindowService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.RenRenMenuActivity"
            android:label="RenRenMenuActivity" />
        <activity
            android:name=".ui.SliderActivity"
            android:label="@string/title_activity_slider" />
        <activity
            android:name=".ui.BidirSlidingActivity"
            android:label="@string/title_activity_bidir_sliding" />
        <activity
            android:name=".ui.SlidingSwitcherActivity"
            android:label="@string/title_activity_sliding_switcher" />
        <activity
            android:name=".ui.FragmentActivity"
            android:label="@string/title_activity_fragment" />
        <activity android:name=".ui.SoundActivity" />
        <activity android:name=".ui.DisplayActivity" />
        <activity
            android:name=".ui.FragmentTabActivity"
            android:label="@string/title_activity_fragment_tab" />
        <activity android:name=".ui.EntitySendActivity" />
        <activity android:name=".ui.ContactActivity"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>